.searchSection{
    /* border: 2px red solid; */
    padding: 1rem 2rem;
    margin: auto;
    width: 50%;
}

.btn {
    padding: 6px 20px;
    margin-left: 1rem;
}


.displaySec{
    /* margin: 0 15vw; */
    width: 100%;
}


img {
    width: 25%;
    height: 25%;
    float: left;
}