
<section class="searchSection mt-3 d-flex">
    <form class="form-inline" action="">
        <div class="form-group mx-sm-3 mb-2">
            <input type="text" class="form-control" [(ngModel)]="username" name="username">
            <button class="btn btn-primary mb-2" (click)="getData()">Search</button>
        </div>
    </form>
</section>


<!-- TO USE A BOOTSTRAP CONTAINER -->
<section class="displaySec">
    <img class="rounded-pill" src="{{profilePic}}" alt="">
    <div>
        <div class="row">
            <div class="col-md-2">
                 <h4>Followers</h4>
                 <h5>
                     {{followers}}
                 </h5>
            </div>
            <div class="col-md-2">
                 <h4>Following</h4>
                 <h5>
                     {{following}}
                 </h5>
            </div>
            <div class="col-md-2">
                 <h4>Repositories</h4>
                 <h5>
                     {{repositories}}
                 </h5>
            </div>
        </div>
    </div>
</section>

