nav {
    display: flex;
    background-color: aquamarine;
}

div {
    padding: 1rem 2rem;
    float: right;
    margin-left: auto;
}

.displaySec{
    background-color: cadetblue;
    margin: auto;
    width: 50%;
}

img {
    width: 25%;
    height: 25%;
    border-radius: 50%;
    float: left;
}