<nav>
    <h2>GitHub Search</h2>
    <div><a routerLink="/users">Search Users</a></div>
    <div><a routerLink="/repos">Search Repos</a></div>
</nav>


<section class="displaySec mt-3">
    <div class="container-fluid">
        <img src="{{image}}" class="img-fluid" alt="">
        <h3>{{name}}</h3>
        <div>
           <div class="row">
               <div class="col-2">
                    <h4>Followers</h4>
                    <h5>
                        {{followers}}
                    </h5>
               </div>
               <div class="col-2">
                    <h4>Following</h4>
                    <h5>
                        {{following}}
                    </h5>
               </div>
               <div class="col-2">
                    <h4>Repositories</h4>
                    <h5>
                        {{repositories}}
                    </h5>
               </div>
           </div>
        </div>
    </div>
</section>